$red-color: #953341;
$black-color: #000000;
$dark-grey-color: #414047;
$light-grey-color: #c2c2c2;
$white-color: #ffffff;
$blue-color: #1b3c66;

@mixin flex-column ($flex, $direction) {
  display: $flex;
  flex-direction: $direction;
}

#pop-up {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: none;
  font-size: 1em;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#pop-up div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 20px;
  background-color: $blue-color;
  color: $white-color;
  font-family: roboto;
  border-radius: 5px;
  text-align: center;
  min-height: 300px;

  img {
    width: 250px;
    border-radius: 5px;
  }
}

#winner-Display {
  min-height: 80px;

  .content {
    width: 100%;
    @include flex-column (flex, column);
    justify-content: center;
    background-color: $red-color;
    padding: 5px;

    p {
      margin: 0;
      padding: 5px;
      color: $black-color;
      font-weight: bold;
      font-size: 1.1em;
    }
  }
}