@import "normalize.scss";
@import "styles-pop-up.scss";
@import "base.scss";

$red-color: #953341;
$black-color: #000000;
$dark-grey-color: #414047;
$light-grey-color: #c2c2c2;
$white-color: #ffffff;
$blue-color: #3f5199;
$navy_color: rgb(0, 43, 100);

//---------------------------------------------------------------mixins
@mixin rounded-shaded-box($x, $y, $rounded-corners) {
  box-shadow: $x $y 10px $dark-grey-color;
  border-radius: $rounded-corners;
}

@mixin flex-column ($flex, $direction) {
  display: $flex;
  flex-direction: $direction;
}



header {
  padding: 5px;
  border-radius: 0 0 5px 5px;
  font-family: roboto;
  box-shadow: 0px 5px 5px $dark-grey-color;
  background-color: $white-color;
  background-size: cover;
  text-align: center;
}

h1 {
  color: $dark-grey-color;
  text-transform: uppercase;
  font-family: roboto-bold;
  margin: 5px;
  margin-left: 30px;
  font-size: 1.2em;
}

main {
  @include flex-column (flex, column);
  max-width: 100%;
  flex: 1;

  div>div {
    @include flex-column (flex, column);
    background-color: $blue-color;
    margin: 5px 0;

    p {
      color: $white-color;
      text-align: center;
      font-family: roboto-bold;
      margin-left: 15px;

    }

    .dice {
      background-color: #414047;
    }

    div {
      @include flex-column (flex, row);
      justify-content: center;

      .tas {
        @include flex-column (flex, row);
        justify-content: center;
      }

      img {
        margin: 5px 20px;
        width: 60px;
        @include rounded-shaded-box(5px, 10px, 8px);
      }

    }

  }
}

.bottom {
  @include flex-column (flex, column);
  justify-content: center;

  .btn {
    background: $navy_color;
    font-family: roboto-bold;
    color: $white-color;
    font-size: .9em;
    padding: 10px 30px;
    text-decoration: none;
    margin: 3px 10px;
    border: none;
    @include rounded-shaded-box(5px, 5px, 8px);
  }

  input {
    font-family: roboto-bold;
    color: $dark-grey-color;
    font-size: .9em;
    padding: 10px 30px;
    text-decoration: none;
    margin: 5px 10px;
    border: none;
    background-color: beige;
    @include rounded-shaded-box(5px, 5px, 8px);
  }

  .btn:hover,
  .btn:focus,
  .btn:active {
    background-color: $blue-color;
    color: $white-color;
    transform: scale(1.01);
  }
}



footer {
  background-color: $black-color;
  border-radius: 5px 5px 0 0;

  p {
    font-size: x-small;
    margin: 0;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    font-family: roboto;
    text-align: center;
    margin-top: 5px;
    color: $white-color;
  }
}


#wrapper {
  @include flex-column (flex, column);
  background-image: url(../images/back-g.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  padding: 0;
  min-height: 100vh;
  max-width: 1000px;
}

@media (min-width:700px) {
  header {
    background-image: url(../images/head.jpg);
  }

  p {
    font-size: 1.2em;
  }


  .tas img {
    margin: 15px;
    width: 80px;
    @include rounded-shaded-box(5px, 10px, 10px);
  }

  header {
    padding: 10px;
  }

  .bottom {
    flex-direction: row;
    justify-content: center;
  }

  .btn {
    background: $navy_color;
    font-family: roboto-bold;
    color: $white-color;
    margin: 10px;
    border: none;
    min-width: 150px;
    @include rounded-shaded-box(5px, 5px, 8px);
  }

  input {
    font-family: roboto-bold;
    color: $dark-grey-color;
    text-decoration: none;
    border: none;
    @include rounded-shaded-box(5px, 5px, 8px);
  }
}


/*# sourceMappingURL=styles.css.map */